
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Program Coordinator</h4>
        <p>The Program Coordinator for the Computer Science minor is Homer White.
        He received his doctorate in pure mathematics in 1991, but over the years
        became increasingky interested in probability and statistics, and statistical
        consultation for external organizations.  Recognizing the increasing importance of
        data analysis in contemporary society, and observing the tendency of data analysis and
        reporting to move toward the internet, Dr. White eventually retrained in Computer
        Science so as to be able to introduce Georgetown students to the pleasures of programming
        and to its applications in contemporary society.</p>

        <p>If you have questions about the Computer Science minor at Georgetown College,
        feel free to contact Dr. White at
            <a href="mailto:hwhite0@georgetowncollege.edu">hwhite0@georgetowncollege.edu</a>.
        </p>

    </div>

    <div class="col-lg-6">
        <img src="/images/homer.jpg">
    </div>
</div>