
<%
    const courses = public.courses._data;
%>

<h2>Purpose</h2>

<p>The idea of the Computer Science minor&mdash;and note that we do
    <em>not</em> offer a major in the subject&mdash;is to supplement your major
    course of study with some ways of thinking and some practical skills that will
    serve you well, both in that major and in your future career.  We don't aim to
    turn you into a professional software developer, but rather to get you comfortable
    enough with coding that you can be the "data" person in your team or
    organization, and to be able to design, customize  and maintain websites&mdash;
    for your organization, your colleagues, groups you volunteer with, and for
    yourself.
</p>

<p>You can think of the minor as having three focal points:</p>

<ul>
    <li><strong>Computer Programming</strong></li>
    <li><strong>Web Design</strong></li>
    <li><strong>Data Analysis/Databases</strong></li>
</ul>

<p><em>Computer Programming</em>, the first focus, is the foundation for the
    remaining two areas.  The art of programming involves learning how
    to specify practical problems precisely and to restate them as problems
    for a machine to solve, learning one or more programming languages with
    which you can communicate procedures to a computer, and developing methods for
    organizing information and managing complexity.  In this minor you will study
    two widely general-purpose programming languages:  R, which widely used in statistics
    and data analysis, and JavaScript, a language that powers websites but which is
    becoming increasingly popular in many other domains.
</p>

<p><em>Data Analysis</em> is the art of collecting and organizing data, investigating
the data to discover patterns that support decision-making in practical situations,
and communicating the results on one's analysis to the people who need to make decisions
based upon it.  It's closely related to the field of <em>statistics</em>, but involves
much less in the way of mathematics and emphasizes the use of the computer to process
and manage data that is too large or to messy to be analyzed "by hand."  If the
data is espcially large then it may be stored in a <em>database</em>, so in the course
of our study of Data Analysis we'll learn basic concepts of database design and we'll
acquire proficiency in interacting with databases.</p>

<p>The various skills and techniques involved in the production and maintenance of
    websites make up the discipline of <em>Web Design</em>.  We'll focus mostly on
    "front-end" design", which is concerned with what the user experiences in his or
    her web browser, but we'll also touch on "back-end" web development&mdashthe
    complex computations that are done on the remote server to process information that the
    user provides.</p>

<p>Data Analysis is increasingly communicated on the Internet, so several courses in the
minor integrate both Data Analysis and Web Design.</p>


<h2>Requirements</h2>

The minor requires 18 hours in Computer Science, as follows:

<ul>
    <li>CSC 115 Computer Programming I</li>
    <li>CSC 215 Computer Programming II</li>
    <li>CSC 303 Fundamentals of Data Computing</li>
    <li>CSC 323 Web Design</li>
    <li>CSC 324 Web Programming</li>
    <li>CSC 405 Databases</li>
</ul>

There are some <strong>exceptions</strong>:

<ol>
    <li>ART 323 Web Design is currently taught every semester in the Art Deapartment
    and is quite similar to CSC 323.  Accordingly, we will only offer CSC 323 on the
    rare occasions when ART 323 is unavailable.  You may take ART 323 and expect it
    to substitute for the CSC 323 requirement.</li>
    <li>With approval of the Program Coordinator, some students may be able to do
    CSC 460, our internship course, and have it
    substitute for a required course in the minor (most likely CSC 303 or CSC 405).</li>
    <li>CSC 470 Special Topic may be offered from time to time, and in rare cases
    may substitute for a required course in the minor.</li>
</ol>

<p>More detailed information about all of our courses may be found below.</p>


<div id="accordion" class="panel-group">

    <%
        for ( course in courses ) {
            let code = course;
            let title = courses[course].name;
    %>

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%- code %>"><%- title %></a>

                        </h4>

                    </div>

                    <div id="collapse<%- code %>" class="panel-collapse collapse">

                        <div class="panel-body">

                            <%- partial("courses/" + code) %>

                        </div>

                    </div>

                </div>
    <%
        }
    %>

</div>

<h2>Possible Schedules</h2>

<p>CSC 115 is the cornerstone of the program. For someone taking it in the Fall
semester, a good sequence to complete the minor is as follows:</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Fall</th>
        <th>Spring</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Year One</td>
        <td><a href="/courses/csc115.html">CSC 115</a></td>
        <td><a href="/courses/csc215.html">CSC 215</a></td>
    </tr>
    <tr>
        <td>Year Two</td>
        <td><a href="/courses/csc303.html">CSC 303</a></td>
        <td><a href="/courses/csc323.html">CSC 323</a> (or ART 323)</td>
    </tr>
    <tr>
        <td>Year Three</td>
        <td><a href="/courses/csc324.html">CSC 324</a></td>
        <td><a href="/courses/csc405.html">CSC 405</a></td>
    </tr>
    </tbody>
</table>

<p>If you do CSC 115 in the Spring, then your sequence could look like
this:</p>


<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Fall</th>
        <th>Spring</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Year One</td>
        <td></td>
        <td><a href="/courses/csc115.html">CSC 115</a></td>
    </tr>
    <tr>
        <td>Year Two</td>
        <td><a href="/courses/csc303.html">CSC 303</a></td>
        <td><a href="/courses/csc215.html">CSC 215,<br><a href="/courses/csc323.html">CSC 323</a> (or ART 323)</a></td>
    </tr>
    <tr>
        <td>Year Three</td>
        <td><a href="/courses/csc324.html">CSC 324</a></td>
        <td><a href="/courses/csc405.html">CSC 405</a></td>
    </tr>
    </tbody>
</table>

<p>It's possible to squeeze everythig into just two years:</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Fall</th>
        <th>Spring</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Year One</td>
        <td><a href="/courses/csc115.html">CSC 115</a></td>
        <td><a href="/courses/csc115.html">CSC 215</a>,<br><a href="/courses/csc323.html">CSC 323</a> (or ART 323)</a></td>
    </tr>
    <tr>
        <td>Year Two</td>
        <td><a href="/courses/csc303.html">CSC 303,<br><a href="/courses/csc324.html">CSC 324</a></a></td>
        <td><a href="/courses/csc405.html">CSC 215,<br><a href="/courses/csc405.html">CSC 405</a> (or ART 323)</a></td>
    </tr>
    </tbody>
</table>


