<h3>CSC 115 and 215 Textbook</h3>

The primary text that we use for CSC 115 and 215 is available online
<a href="https://homerhanumat.github.io/r-notes" target="_blank">here</a>.

<h3>R and R Studio</h3>

You can get the R language
<a href="https://cran.r-project.org/" target="_blank">here</a>.
After you have installed R then
you can get the R Studio Integrated Development Environment
<a href="https://www.rstudio.com/products/rstudio/download/" target="_blank">here</a>.

<h3>R Studio Server</h3>

If you have a network ID then you don't even have to install R on your
own computer.  Just go to our
<a href="https://rstudio.georgetowncollege.edu:8787" target="_blank">server</a>
and log in with your network username
and password.