<h3>Tidy Presidents</h3>

<p>Here is one way to present the data from Problem 1.2
    in tidy fashion.</p>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Took Office</th>
            <th>Left Office</th>
            <th>States</th>
        </tr>
        <tr>
            <td>Abraham</td>
            <td>Lincoln</td>
            <td>1861</td>
            <td>1865</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>George</td>
            <td>Washington</td>
            <td>1791</td>
            <td>1799</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Martin</td>
            <td>Van Buren</td>
            <td>1837</td>
            <td>1841</td>
            <td>26</td>
        </tr>
    </table>
</div>




