<footer class="footer">
    <div class="container">
        <div id="department" class="text-muted"><a href="http://www.georgetowncollege.edu/mpc/">MPC Dept</a></div>
        <div id="footer-email" class="text-muted"><a href="mailto:hwhite0@georgetowncollege.edu">Email</a></div>
        <div id="facebook" class="text-muted"><a href="https://www.facebook.com/Georgetown-College-Department-of-Mathematics-Physics-and-Computer-Science-160581057301452/" class="social-icon"> <i class="fa fa-facebook"></i></a></div>
    </div>
</footer>