/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

nav.navbar-fixed-top,
nav.navbar-fixed-top ul.dropdown-menu {
    background-color: rgb(255, 163, 26);
}

nav.navbar-fixed-top .container a {
    color: white;
}

nav.navbar-fixed-top .container a:hover,
nav.navbar-fixed-top .container a:focus {
    color: rgb(80,80,80);
}

nav.navbar-fixed-top .container a.active {
    background-color: #e7e7e7;
    color: black;
}


.footer {
    background-color: rgb(255, 163, 26);
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.footer .container div a {
    color: white;
    text-decoration: none;
}

.footer .container div a:hover,
.footer .container div a:focus {
    color: rgb(80,80,80);
}


.footer .container {
    display: flex;
    flex-flow: row wrap;
}

.footer .container div {
    padding-top:1.5em;
    flex: 1;
}

.footer .container div#department,
.footer .container div#footer-email {
    flex: 3;
}

.jumbotron {
    background-image: url("/images/code.jpg");
    color: white;
}

.jumbotron a.btn-success {
    background-color: rgb(255, 163, 26);
    font-size: 1em;
    transition: 0.5s;
}

.jumbotron a.btn-success:hover,
.jumbotron a.btn-success:focus {
    background-color: rgb(204, 122, 0);
    font-size: 1.05em;
}

img {
    border: slategray solid 3px;
    border-radius: 5px;
}



/*****************************/

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/********************************************
*
*  Random Quote
*
*********************************************/

div.quotation {
    background-color: #00CCFF;
    border: solid slategray 2px;
    border-radius: 20px;
}

div.quotation h2, div.quotation .quote-author {
    display: block;
    text-align: center;
}

blockquote {
    border-left: none;
}